Repository googleapis/python-storage, pull requests merged in 2020-06, with the labels that each got.

#168 docs(storage): add documentation about upload and download
  google/cloud/storage/blob.py
Labels: cla: yes

#167 docs(storage): add document about default chunk size
  google/cloud/storage/blob.py
Labels: cla: yes

#172 fix: set default POST policy scheme to "http"
  google/cloud/storage/client.py
Labels: api: storage, automerge, cla: yes

#122 feat: add *generation*match args into Blob.compose()
  google/cloud/storage/blob.py
  tests/system/test_system.py
  tests/unit/test_blob.py
Labels: api: storage, cla: yes, type: feature request

#141 feat: add if*generation*match support for Bucket.rename_blob()
  google/cloud/storage/bucket.py
  tests/unit/test_bucket.py
Labels: api: storage, cla: yes, type: feature request

#130 feat: add if*generation*match args into Bucket.delete_blobs()
  google/cloud/storage/bucket.py
  tests/unit/test_bucket.py
Labels: api: storage, automerge, cla: yes, type: feature request

#171 docs(storage): fix indent in code blocks
  google/cloud/storage/__init__.py
  google/cloud/storage/acl.py
  google/cloud/storage/bucket.py
  google/cloud/storage/client.py
Labels: automerge, cla: yes

#186 fix: add multiprocessing.rst to synthool excludes
  synth.py
Labels: cla: yes

#189 feat(storage): migrate to Service Account Credentials API
  google/cloud/storage/_signing.py
  tests/unit/test__signing.py
Labels: api: storage, cla: yes, type: feature request

#195 refactor(storage): erase excess return
  google/cloud/storage/bucket.py
Labels: api: storage, cla: yes
