Repository googleapis/python-storage, pull requests merged in 2021-12, with the labels that each got.

#660 docs: Describe code sample more specifically
  samples/snippets/storage_create_bucket_class_location.py
Labels: api: storage, samples

#664 samples: added upload from/download into memory samples
  samples/README.md
  samples/snippets/snippets_test.py
  samples/snippets/storage_download_into_memory.py
  samples/snippets/storage_upload_from_memory.py
Labels: api: storage, samples

#655 tests: speed up retry conformance tests
  noxfile.py
  tests/conformance/README.md
Labels: api: storage, cla: yes

#668 feat: add raw_download kwarg to BlobReader
  google/cloud/storage/blob.py
  google/cloud/storage/fileio.py
  tests/unit/test_fileio.py
Labels: api: storage

#667 docs: refresh readme instructions
  README.rst
  samples/README.md
Labels: api: storage, automerge

#671 samples: delete unspecified sample
  samples/README.md
  samples/snippets/public_access_prevention_test.py
  samples/snippets/storage_set_public_access_prevention_unspecified.py
Labels: api: storage, samples

#674 samples: storage_download_byte_range
  samples/README.md
  samples/snippets/snippets_test.py
  samples/snippets/storage_download_byte_range.py
Labels: api: storage, samples

#675 samples: update region tags
  samples/snippets/storage_download_into_memory.py
Labels: api: storage, samples

#676 docs: use writeable streamin example for 'download_blob_to_file'
  google/cloud/storage/client.py
Labels: api: storage

#677 chore: add api_shortname to repo-metadata.json
  .repo-metadata.json
Labels: api: storage
