Repository googleapis/python-storage, pull requests merged in 2021-06, with the labels that each got.

#431 refactor: add / use 'Client._get_resource' method
  google/cloud/storage/_helpers.py
  google/cloud/storage/acl.py
  google/cloud/storage/blob.py
  google/cloud/storage/bucket.py
  google/cloud/storage/client.py
  google/cloud/storage/hmac_key.py
  google/cloud/storage/notification.py
  tests/unit/test__helpers.py
  tests/unit/test_acl.py
  tests/unit/test_blob.py
  tests/unit/test_bucket.py
  tests/unit/test_client.py
  tests/unit/test_hmac_key.py
  tests/unit/test_notification.py
Labels: api: storage, cla: yes

#436 refactor: add / use 'Client._patch_resource' method
  google/cloud/storage/_helpers.py
  google/cloud/storage/acl.py
  google/cloud/storage/blob.py
  google/cloud/storage/bucket.py
  google/cloud/storage/client.py
  tests/unit/test__helpers.py
  tests/unit/test_acl.py
  tests/unit/test_blob.py
  tests/unit/test_bucket.py
  tests/unit/test_client.py
Labels: api: storage, cla: yes

#441 refactor: add / use 'Client._put_resource' method
  google/cloud/storage/_helpers.py
  google/cloud/storage/blob.py
  google/cloud/storage/bucket.py
  google/cloud/storage/client.py
  google/cloud/storage/hmac_key.py
  tests/unit/test__helpers.py
  tests/unit/test_blob.py
  tests/unit/test_bucket.py
  tests/unit/test_client.py
  tests/unit/test_hmac_key.py
Labels: api: storage, cla: yes

#442 refactor: add / use 'Client._delete_resource' method
  google/cloud/storage/bucket.py
  google/cloud/storage/client.py
  google/cloud/storage/hmac_key.py
  google/cloud/storage/notification.py
  tests/unit/test_bucket.py
  tests/unit/test_client.py
  tests/unit/test_hmac_key.py
  tests/unit/test_notification.py
Labels: api: storage, cla: yes

#443 refactor: add / use 'Client._post_resource' method
  google/cloud/storage/blob.py
  google/cloud/storage/bucket.py
  google/cloud/storage/client.py
  google/cloud/storage/notification.py
  tests/unit/test_blob.py
  tests/unit/test_bucket.py
  tests/unit/test_client.py
  tests/unit/test_notification.py
Labels: api: storage, cla: yes

#458 fix: apply idempotency policies for ACLs
  google/cloud/storage/acl.py
  google/cloud/storage/blob.py
  google/cloud/storage/bucket.py
  google/cloud/storage/client.py
  tests/unit/test_acl.py
  tests/unit/test_blob.py
  tests/unit/test_bucket.py
  tests/unit/test_client.py
Labels: api: storage, cla: yes, priority: p1

#446 refactor: add / use 'Client._list_resource' method
  google/cloud/storage/bucket.py
  google/cloud/storage/client.py
  tests/unit/test_bucket.py
  tests/unit/test_client.py
Labels: api: storage, cla: yes

#459 tests: avoid requiring real credentials in unit tests
  google/cloud/storage/bucket.py
  tests/unit/test_blob.py
  tests/unit/test_bucket.py
  tests/unit/test_client.py
Labels: api: storage, cla: yes

#461 docs: streamline 'timeout' / 'retry' docs in docstrings
  docs/conf.py
  docs/index.rst
  docs/retry_timeout.rst
  google/cloud/storage/_helpers.py
  google/cloud/storage/acl.py
  google/cloud/storage/batch.py
  google/cloud/storage/blob.py
  google/cloud/storage/bucket.py
  google/cloud/storage/client.py
  google/cloud/storage/hmac_key.py
  google/cloud/storage/notification.py
  google/cloud/storage/retry.py
  owlbot.py
Labels: api: storage, cla: yes

#447 feat: media operation retries can be configured using the same interface as with non-media operation
  google/cloud/storage/_helpers.py
  google/cloud/storage/blob.py
  google/cloud/storage/client.py
  google/cloud/storage/fileio.py
  setup.py
  tests/unit/test__helpers.py
  tests/unit/test_blob.py
  tests/unit/test_client.py
  tests/unit/test_fileio.py
Labels: api: storage, cla: yes

#454 fix: revise blob.compose query parameters `if_generation_match`
  google/cloud/storage/blob.py
  tests/system/test_system.py
  tests/unit/test_blob.py
Labels: api: storage, cla: yes

#468 tests: harden 'test_bucket_w_default_event_based_hold'
  tests/system/test_system.py
Labels: api: storage, cla: yes

#467 tests: pre-scrub old HMAC keys before testing creation
  tests/system/test_system.py
Labels: api: storage, cla: yes

#464 docs: streamline docstrings for conditional parmas
  docs/generation_metageneration.rst
  docs/index.rst
  google/cloud/storage/_helpers.py
  google/cloud/storage/blob.py
  google/cloud/storage/bucket.py
  google/cloud/storage/client.py
  google/cloud/storage/fileio.py
  noxfile.py
  tests/unit/test_blob.py
Labels: api: storage, cla: yes

#476 tests: refactor systests using pytest
  tests/system/__init__.py
  tests/system/_helpers.py
  tests/system/conftest.py
  tests/system/test__signing.py
  tests/system/test_blob.py
  tests/system/test_bucket.py
  tests/system/test_client.py
  tests/system/test_fileio.py
  tests/system/test_hmac_key_metadata.py
  tests/system/test_kms_integration.py
  tests/system/test_notification.py
  tests/system/test_system.py
Labels: api: storage, cla: yes

#304 feat: public access prevention
  google/cloud/storage/bucket.py
  google/cloud/storage/constants.py
  tests/system/test_bucket.py
  tests/unit/test_bucket.py
Labels: api: storage, cla: yes, external

#480 fix: replace default retry for upload operations
  google/cloud/storage/blob.py
  google/cloud/storage/fileio.py
  tests/unit/test_blob.py
  tests/unit/test_fileio.py
Labels: api: storage, cla: yes

#484 feat: add preconditions and retry configuration to blob.create_resumable_upload_session
  google/cloud/storage/blob.py
  tests/unit/test_blob.py
Labels: api: storage, cla: yes
