Repository googleapis/python-storage, pull requests merged in 2022-12, with the labels that each got.

#943 feat: Add "transfer_manager" module for concurrent uploads and downloads, as a preview feature
  google/cloud/storage/constants.py
  google/cloud/storage/fileio.py
  google/cloud/storage/transfer_manager.py
  samples/snippets/snippets_test.py
  samples/snippets/storage_transfer_manager.py
  tests/system/test_transfer_manager.py
  tests/unit/test_transfer_manager.py
Labels: api: storage, size: xl

#941 feat: add use_auth_w_custom_endpoint support
  google/cloud/storage/_helpers.py
  google/cloud/storage/client.py
  tests/unit/test_client.py
Labels: api: storage, size: m

#890 test: Validate download without encryption key fails
  tests/system/test_blob.py
Labels: api: storage, size: xs
