Repository googleapis/python-storage, pull requests merged in 2022-08, with the labels that each got.

#833 chore: delete benchwrapper obselete and unmaintained
  tests/perf/benchwrapper/README.md
  tests/perf/benchwrapper/benchwrapper.py
  tests/perf/benchwrapper/storage.proto
  tests/perf/benchwrapper/storage_pb2.py
  tests/perf/benchwrapper/storage_pb2_grpc.py
Labels: api: storage, size: l

#836 tests: unflake system tests ensure config changes are propagated
  tests/system/_helpers.py
  tests/system/test_blob.py
  tests/system/test_bucket.py
Labels: api: storage, size: m

#837 docs: clarify prefixes entity in list_blobs and link sample
  google/cloud/storage/client.py
Labels: api: storage, automerge, samples, size: s

#841 docs: Update docstring for lifecycle_rules to match generator behavior
  google/cloud/storage/bucket.py
Labels: api: storage, size: xs

#843 samples: update dual-region bucket creation sample output
  samples/snippets/snippets_test.py
  samples/snippets/storage_create_bucket_dual_region.py
Labels: api: storage, samples, size: s

#845 chore: exclude `grpcio==1.49.0rc1` in system tests
  noxfile.py
Labels: api: storage, automerge, size: xs

#840 feat: enable delete_blobs() to preserve generation
  google/cloud/storage/bucket.py
  tests/unit/test_bucket.py
Labels: api: storage, automerge, size: m

#853 chore: use templated renovate.json
  owlbot.py
  renovate.json
Labels: api: storage, size: xs
