Repository googleapis/python-storage, pull requests merged in 2022-10, with the labels that each got.

#878 feat: add predefined_acl to create_resumable_upload_session
  google/cloud/storage/blob.py
  tests/unit/test_blob.py
Labels: api: storage, size: s

#875 fix: align bucket bound hostname url builder consistency
  google/cloud/storage/_helpers.py
  google/cloud/storage/client.py
  tests/unit/test__helpers.py
  tests/unit/test_client.py
Labels: api: storage, size: s

#887 Fix: BlobWriter.close() will do nothing if already closed
  google/cloud/storage/fileio.py
  tests/unit/test_fileio.py
Labels: api: storage, size: s

#876 docs: streamline docs for c.g.c migration
  google/cloud/storage/_signing.py
  google/cloud/storage/blob.py
  google/cloud/storage/bucket.py
  google/cloud/storage/client.py
  google/cloud/storage/fileio.py
  google/cloud/storage/hmac_key.py
  google/cloud/storage/notification.py
  google/cloud/storage/retry.py
Labels: api: storage, automerge, size: l

#883 feat: make tests run against environments other than prod
  .kokoro/build.sh
  google/cloud/storage/_helpers.py
  google/cloud/storage/_http.py
  google/cloud/storage/blob.py
  noxfile.py
  tests/system/_helpers.py
  tests/system/test__signing.py
  tests/system/test_blob.py
  tests/system/test_bucket.py
  tests/system/test_client.py
Labels: api: storage, automerge, size: m

#891 chore: add OwlBot as a required check
  .github/sync-repo-settings.yaml
  .kokoro/build.sh
  owlbot.py
Labels: api: storage, size: s

#844 feat: Add "transfer_manager" module for concurrent uploads and downloads as a preview feature
  google/cloud/storage/constants.py
  google/cloud/storage/fileio.py
  google/cloud/storage/transfer_manager.py
  tests/system/test_transfer_manager.py
  tests/unit/test_transfer_manager.py
Labels: api: storage, size: xl
