Repository googleapis/python-storage, pull requests merged in 2022-04, with the labels that each got.

#748 feat: add dual region bucket support and sample
  google/cloud/storage/bucket.py
  google/cloud/storage/client.py
  samples/README.md
  samples/snippets/snippets_test.py
  samples/snippets/storage_create_bucket_dual_region.py
  tests/system/test_client.py
Labels: api: storage, samples, size: m

#741 feat: track invocation id for retry metrics
  google/cloud/storage/_helpers.py
  google/cloud/storage/_http.py
  setup.py
  tests/unit/test__helpers.py
  tests/unit/test__http.py
  tests/unit/test_blob.py
  tests/unit/test_client.py
Labels: api: storage, size: l

#767 samples(docs): remove beta tag in gcloud command
  samples/snippets/notification_polling.py
Labels: api: storage, samples, size: xs

#765 feat: add AbortIncompleteMultipartUpload lifecycle rule
  google/cloud/storage/bucket.py
  tests/system/_helpers.py
  tests/system/test_bucket.py
  tests/unit/test_bucket.py
Labels: api: storage, automerge, size: m
