Repository googleapis/python-storage, pull requests merged in 2022-01, with the labels that each got.

#656 samples: add batch request sample and test
  samples/README.md
  samples/snippets/snippets_test.py
  samples/snippets/storage_batch_request.py
Labels: api: storage, cla: yes, samples

#686 ci: don't require 2.7 system tests on main
  .github/sync-repo-settings.yaml
Labels: api: storage

#689 feat: remove python 3.6 support
  .kokoro/samples/python3.6/common.cfg
  .kokoro/samples/python3.6/continuous.cfg
  .kokoro/samples/python3.6/periodic-head.cfg
  .kokoro/samples/python3.6/periodic.cfg
  .kokoro/samples/python3.6/presubmit.cfg
  README.rst
  noxfile.py
  owlbot.py
  samples/snippets/noxfile_config.py
  setup.py
  testing/constraints-3.6.txt
Labels: api: storage, cla: yes

#622 feat: add turbo replication support and samples
  google/cloud/storage/bucket.py
  google/cloud/storage/constants.py
  samples/snippets/rpo_test.py
  samples/snippets/storage_create_bucket_turbo_replication.py
  samples/snippets/storage_get_rpo.py
  samples/snippets/storage_set_rpo_async_turbo.py
  samples/snippets/storage_set_rpo_default.py
  tests/system/test_bucket.py
  tests/unit/test_bucket.py
Labels: api: storage, cla: yes, samples

#665 samples: add async upload sample
  samples/snippets/snippets_test.py
  samples/snippets/storage_async_upload.py
Labels: api: storage, samples

#679 feat: avoid authentication with storage emulator
  google/cloud/storage/_helpers.py
  google/cloud/storage/client.py
  tests/unit/test__helpers.py
  tests/unit/test_client.py
Labels: api: storage

#704 docs: fixed download_blob_to_file example
  google/cloud/storage/client.py
Labels: api: storage

#706 chore: Add python2 branch to release-please config for future updates
  .github/release-please.yml
  owlbot.py
Labels: api: storage

#707 chore: Set branch protection for python2 branch
  .github/sync-repo-settings.yaml
Labels: api: storage
