Repository googleapis/python-storage, pull requests merged in 2022-05, with the labels that each got.

#787 tests: move range read test
  tests/conformance/test_conformance.py
  tests/system/test_blob.py
Labels: api: storage, automerge, size: s

#760 chore: add internal benchmarking script
  tests/perf/README.md
  tests/perf/benchmarking.py
  tests/perf/benchwrapper/README.md
  tests/perf/benchwrapper/benchwrapper.py
  tests/perf/benchwrapper/storage.proto
  tests/perf/benchwrapper/storage_pb2.py
  tests/perf/benchwrapper/storage_pb2_grpc.py
Labels: api: storage, size: l

#725 docs(samples): Update the Recovery Point Objective (RPO) sample output
  google/cloud/storage/constants.py
  samples/snippets/rpo_test.py
  samples/snippets/storage_create_bucket_turbo_replication.py
  samples/snippets/storage_set_rpo_async_turbo.py
  samples/snippets/storage_set_rpo_default.py
Labels: api: storage, automerge, samples, size: s

#801 chore: fix requests intersphinx url
  docs/conf.py
  docs/retry_timeout.rst
Labels: api: storage, size: xs

#799 chore: pin protobuf
  setup.py
Labels: api: storage, automerge, size: xs

#790 chore: update sphinx arrangement to remove duplicate entries on cloudsite
  docs/acl.rst
  docs/index.rst
  docs/storage/acl.rst
  docs/storage/batch.rst
  docs/storage/blobs.rst
  docs/storage/buckets.rst
  docs/storage/client.rst
  docs/storage/constants.rst
  docs/storage/fileio.rst
  docs/storage/generation_metageneration.rst
  docs/storage/hmac_key.rst
  docs/storage/modules.rst
  docs/storage/notification.rst
  docs/storage/retry.rst
  docs/storage/retry_timeout.rst
  docs/storage/snippets.py
  google/cloud/storage/__init__.py
  google/cloud/storage/acl.py
  google/cloud/storage/blob.py
  google/cloud/storage/bucket.py
  google/cloud/storage/client.py
Labels: api: storage, size: l
