Repository googleapis/python-storage, pull requests merged in 2022-11, with the labels that each got.

#791 feat: add Autoclass support and sample
  google/cloud/storage/bucket.py
  samples/snippets/snippets_test.py
  samples/snippets/storage_get_autoclass.py
  samples/snippets/storage_set_autoclass.py
  tests/system/test_bucket.py
  tests/unit/test_bucket.py
Labels: api: storage, automerge, samples, size: m

#897 Revert "feat: Add "transfer_manager" module for concurrent uploads and downloads as a preview feature"
  google/cloud/storage/constants.py
  google/cloud/storage/fileio.py
  google/cloud/storage/transfer_manager.py
  tests/system/test_transfer_manager.py
  tests/unit/test_transfer_manager.py
Labels: api: storage, size: xl

#904 Changes to make this branch testable against non-prod environments
  .kokoro/build.sh
  docs/conf.py
  google/cloud/storage/_helpers.py
  google/cloud/storage/_http.py
  google/cloud/storage/_signing.py
  google/cloud/storage/acl.py
  google/cloud/storage/blob.py
  google/cloud/storage/bucket.py
  google/cloud/storage/client.py
  google/cloud/storage/hmac_key.py
  google/cloud/storage/notification.py
  noxfile.py
  tests/system/_helpers.py
  tests/system/conftest.py
  tests/system/test__signing.py
  tests/system/test_blob.py
  tests/system/test_bucket.py
  tests/system/test_client.py
  tests/system/test_fileio.py
  tests/system/test_kms_integration.py
  tests/system/test_notification.py
Labels: api: storage, size: l

#905 chore: generate testing sponge logs and enable flakybot
  noxfile.py
Labels: api: storage, automerge, size: xs

#911 tests: ensure test runs after reaching retention period
  tests/system/test_bucket.py
Labels: api: storage, size: xs

#901 feat: add support for use_auth_w_custom_endpoint
  google/cloud/storage/_helpers.py
  google/cloud/storage/client.py
  tests/unit/test_client.py
Labels: api: storage, size: m

#940 chore(revert): revert add support for use_auth_w_custom_endpoint
  google/cloud/storage/_helpers.py
  google/cloud/storage/client.py
  tests/unit/test_client.py
Labels: api: storage, size: m
