Repository googleapis/python-storage, pull requests merged in 2022-06, with the labels that each got.

#803 chore: update owlbot requests intersphinx url
  owlbot.py
Labels: api: storage, size: xs

#807 fix: rewrite object in CMEK enabled bucket
  google/cloud/storage/blob.py
  tests/system/test_kms_integration.py
  tests/unit/test_blob.py
Labels: api: storage, size: m

#808 docs: update documentation and examples on configuring retries
  docs/storage/retry_timeout.rst
  google/cloud/storage/retry.py
Labels: api: storage, size: s

#798 docs: minor update in generation_metageneration.rst (missing space)
  docs/storage/generation_metageneration.rst
Labels: api: storage, size: xs

#773 feat: support OLM Prefix/Suffix
  google/cloud/storage/bucket.py
  tests/system/test_bucket.py
  tests/unit/test_bucket.py
Labels: api: storage, size: m

#812 fix(deps): require protobuf<4.0.0 on v1 branch
  noxfile.py
  setup.py
Labels: api: storage, size: xs
