Repository googleapis/python-storage, pull requests merged in 2023-05, with the labels that each got.

#1016 fix: Avoid pickling processed credentials
  google/cloud/storage/client.py
  google/cloud/storage/transfer_manager.py
Labels: api: storage, size: xs

#1022 chore: update samples testing and readme
  samples/README.md
  samples/snippets/requester_pays_test.py
  samples/snippets/snippets_test.py
Labels: api: storage, samples, size: m

#1030 test: update retry conf test data
  tests/conformance/retry_strategy_test_data.json
Labels: api: storage, size: l

#1029 docs: remove threads in transfer manager samples
  samples/snippets/snippets_test.py
  samples/snippets/storage_transfer_manager_download_all_blobs.py
  samples/snippets/storage_transfer_manager_download_chunks_concurrently.py
  samples/snippets/storage_transfer_manager_upload_directory.py
  samples/snippets/storage_transfer_manager_upload_many_blobs.py
Labels: api: storage, samples, size: m

#1033 tests: update signing conformance test cases
  tests/unit/url_signer_v4_test_data.json
Labels: api: storage, automerge, size: l

#1038 chore: add option to delete benchmarking bucket
  tests/perf/README.md
  tests/perf/_perf_utils.py
  tests/perf/benchmarking.py
Labels: api: storage, size: s

#1043 feat: allow exceptions to be included in batch responses
  google/cloud/storage/batch.py
  google/cloud/storage/client.py
  tests/unit/test_batch.py
Labels: api: storage, size: m
