Repository googleapis/python-storage, pull requests merged in 2023-06, with the labels that each got.

#1053 fix: extend wait for bucket metadata consistency in system tests
  tests/system/_helpers.py
  tests/system/conftest.py
  tests/system/test_bucket.py
Labels: api: storage, kokoro:force-run, size: s

#1045 docs: add clarification to batch module
  google/cloud/storage/batch.py
  google/cloud/storage/blob.py
  google/cloud/storage/bucket.py
  samples/snippets/storage_batch_request.py
Labels: api: storage, size: s

#1052 Chore: refactor client.download_blob_to_file
  google/cloud/storage/blob.py
  google/cloud/storage/client.py
  tests/unit/test_blob.py
  tests/unit/test_client.py
Labels: api: storage, size: l

#1055 feat: add matchGlob parameter to list_blobs
  google/cloud/storage/bucket.py
  google/cloud/storage/client.py
  tests/system/test_bucket.py
  tests/unit/test_bucket.py
  tests/unit/test_client.py
Labels: api: storage, size: m

#1066 chore: unpin Sphinx version
  noxfile.py
Labels: api: storage, size: xs

#1068 fix: update retention policy sys tests to avoid caching changes wait
  tests/system/test_bucket.py
Labels: api: storage, size: m
