Repository googleapis/python-storage, pull requests merged in 2023-08, with the labels that each got.

#1103 chore: fix lint and flake8 sessions
  google/cloud/storage/acl.py
  google/cloud/storage/client.py
  tests/unit/test_transfer_manager.py
Labels: api: storage, size: xs

#1108 test: add retry in test fixtures
  tests/system/_helpers.py
  tests/system/test_bucket.py
Labels: api: storage, size: s

#1110 chore: Add region tags for Transfer Manager samples
  samples/snippets/storage_transfer_manager_download_all_blobs.py
  samples/snippets/storage_transfer_manager_download_chunks_concurrently.py
  samples/snippets/storage_transfer_manager_upload_directory.py
  samples/snippets/storage_transfer_manager_upload_many_blobs.py
Labels: api: storage, automerge, samples, size: s

#1113 chore: Amend Transfer Manager samples
  samples/snippets/snippets_test.py
  samples/snippets/storage_transfer_manager_download_bucket.py
  samples/snippets/storage_transfer_manager_download_chunks_concurrently.py
  samples/snippets/storage_transfer_manager_download_many.py
  samples/snippets/storage_transfer_manager_upload_many.py
Labels: api: storage, samples, size: m
