Repository googleapis/python-storage, pull requests merged in 2023-10, with the labels that each got.

#1129 test: dedup kms_bucket fixture
  tests/system/conftest.py
  tests/system/test_kms_integration.py
Labels: api: storage, automerge, size: m

#1138 feat: add crc32c_checksum argument to download_chunks_concurrently
  google/cloud/storage/transfer_manager.py
  samples/snippets/snippets_test.py
  setup.py
  tests/system/test_transfer_manager.py
  tests/unit/test_transfer_manager.py
Labels: api: storage, automerge, size: l

#1161 feat: add skip_if_exists to download_many
  google/cloud/storage/transfer_manager.py
  tests/unit/test_transfer_manager.py
Labels: api: storage, size: s

#1162 feat: add additional_blob_attributes to upload_many_from_filenames
  google/cloud/storage/transfer_manager.py
  tests/system/test_transfer_manager.py
  tests/unit/test_transfer_manager.py
Labels: api: storage, automerge, size: m

#1159 feat: launch transfer manager to GA
  google/cloud/storage/transfer_manager.py
  tests/unit/test_transfer_manager.py
Labels: api: storage, automerge, size: s

#1163 docs: update formatting and wording in transfer_manager docstrings
  google/cloud/storage/transfer_manager.py
Labels: api: storage, size: m

#1121 feat: add support for custom headers
  google/cloud/storage/blob.py
  google/cloud/storage/client.py
  google/cloud/storage/transfer_manager.py
  tests/unit/test__http.py
  tests/unit/test_blob.py
  tests/unit/test_client.py
  tests/unit/test_transfer_manager.py
Labels: api: storage, size: m

#1164 docs: fix exception field in tm reference docs
  google/cloud/storage/transfer_manager.py
Labels: api: storage, automerge, size: s

#1169 fix: fix typo in Bucket.clear_lifecycle_rules()
  google/cloud/storage/bucket.py
  tests/unit/test_bucket.py
Labels: api: storage, automerge, size: xs

#1117 feat: add Autoclass v2.1 support
  google/cloud/storage/bucket.py
  samples/snippets/snippets_test.py
  samples/snippets/storage_get_autoclass.py
  samples/snippets/storage_set_autoclass.py
  tests/system/test_bucket.py
  tests/unit/test_bucket.py
Labels: api: storage, size: m

#1170 fix: Blob.from_string parse gcs uri with regex
  google/cloud/storage/blob.py
  tests/unit/test_blob.py
Labels: api: storage, size: s

#1172 fix: bucket.delete(force=True) now works with version-enabled buckets
  google/cloud/storage/bucket.py
  tests/system/test_bucket.py
  tests/unit/test_bucket.py
Labels: api: storage, automerge, size: m
