Repository googleapis/python-storage, pull requests merged in 2024-06, with the labels that each got.

#1285 samples: create bucket with HNS enabled
  samples/snippets/noxfile_config.py
  samples/snippets/snippets_test.py
  samples/snippets/storage_create_bucket_hierarchical_namespace.py
Labels: api: storage, samples, size: m

#1290 fix: correct notification error message
  google/cloud/storage/notification.py
Labels: api: storage, size: xs

#1288 feat: add OpenTelemetry Tracing support as a preview feature
  README.rst
  google/cloud/storage/_http.py
  google/cloud/storage/_opentelemetry_tracing.py
  google/cloud/storage/acl.py
  google/cloud/storage/blob.py
  google/cloud/storage/bucket.py
  google/cloud/storage/client.py
  google/cloud/storage/hmac_key.py
  google/cloud/storage/notification.py
  noxfile.py
  setup.py
  tests/unit/test__opentelemetry_tracing.py
  tests/unit/test_blob.py
Labels: api: storage, size: l
