Repository googleapis/python-storage, pull requests merged in 2024-02, with the labels that each got.

#1212 feat: support custom universe domains/TPC
  google/cloud/storage/_helpers.py
  google/cloud/storage/_http.py
  google/cloud/storage/_signing.py
  google/cloud/storage/blob.py
  google/cloud/storage/bucket.py
  google/cloud/storage/client.py
  setup.py
  tests/system/_helpers.py
  tests/system/test__signing.py
  tests/unit/test__helpers.py
  tests/unit/test__http.py
  tests/unit/test_batch.py
  tests/unit/test_blob.py
  tests/unit/test_bucket.py
  tests/unit/test_client.py
Labels: api: storage, size: l

#1215 fix: remove utcnow usage
  google/cloud/storage/_helpers.py
  google/cloud/storage/_signing.py
  google/cloud/storage/bucket.py
  google/cloud/storage/client.py
  tests/system/test__signing.py
  tests/system/test_blob.py
  tests/system/test_hmac_key_metadata.py
  tests/system/test_transfer_manager.py
  tests/unit/test__signing.py
  tests/unit/test_blob.py
  tests/unit/test_bucket.py
  tests/unit/test_client.py
  tests/unit/test_hmac_key.py
  tests/unit/test_transfer_manager.py
Labels: api: storage, size: l

#1220 fix: add "updated" as property for Bucket
  google/cloud/storage/bucket.py
  tests/unit/test_bucket.py
Labels: api: storage, size: s

#1211 samples: replace deprecated method
  samples/snippets/snippets_test.py
  samples/snippets/storage_download_into_memory.py
Labels: api: storage, samples, size: s
