Repository googleapis/python-storage, pull requests merged in 2024-10, with the labels that each got.

#1356 fix: allow signed post policy v4 with service account and token
  google/cloud/storage/client.py
  tests/system/test__signing.py
  tests/unit/test_client.py
Labels: api: storage, size: m

#1335 fix: Changed name of methods `Blob.from_string()` and `Bucket.from_string()` to `from_uri()`
  google/cloud/storage/blob.py
  google/cloud/storage/bucket.py
  google/cloud/storage/client.py
  tests/unit/test_blob.py
  tests/unit/test_bucket.py
  tests/unit/test_client.py
Labels: api: storage, kokoro:run, size: m

#1357 fix: do not spam the log with checksum related INFO messages when downloading using transfer_manager
  google/cloud/storage/transfer_manager.py
  tests/unit/test_transfer_manager.py
Labels: api: storage, size: xs

#1369 feat: add support for restore token
  google/cloud/storage/_helpers.py
  google/cloud/storage/blob.py
  google/cloud/storage/bucket.py
  tests/system/test_bucket.py
  tests/unit/test_blob.py
  tests/unit/test_bucket.py
Labels: api: storage, size: m
