Repository googleapis/python-storage, pull requests merged in 2024-11, with the labels that each got.

#1374 feat: add Cloud Trace adoption attributes
  google/cloud/storage/_opentelemetry_tracing.py
  tests/unit/test__opentelemetry_tracing.py
Labels: api: storage, size: s

#1377 Fix: Remove deprecated num_retries argument
  google/cloud/storage/_helpers.py
  google/cloud/storage/blob.py
  google/cloud/storage/fileio.py
  tests/unit/test__helpers.py
  tests/unit/test_blob.py
  tests/unit/test_fileio.py
Labels: api: storage, size: l

#1379 Fix: Remove deprecated text_mode argument
  google/cloud/storage/fileio.py
  tests/unit/test_fileio.py
Labels: api: storage, size: s

#1376 Fix: Correctly calculate starting offset for retries of ranged reads
  google/cloud/storage/_media/requests/download.py
  tests/resumable_media/unit/requests/test_download.py
Labels: api: storage, size: m

#1381 chore: remove debugger comment
  google/cloud/storage/blob.py
Labels: api: storage, size: xs

#1380 feat: IAM signBlob retry and universe domain support
  google/cloud/storage/_signing.py
  google/cloud/storage/blob.py
  tests/system/conftest.py
  tests/system/test__signing.py
  tests/unit/test_blob.py
Labels: api: storage, size: m

#1383 Feat: Add "auto" checksum option and make default
  README.rst
  google/cloud/storage/_media/_download.py
  google/cloud/storage/_media/_helpers.py
  google/cloud/storage/_media/_upload.py
  google/cloud/storage/_media/requests/download.py
  google/cloud/storage/_media/requests/upload.py
  google/cloud/storage/blob.py
  google/cloud/storage/client.py
  google/cloud/storage/transfer_manager.py
  tests/resumable_media/system/requests/test_download.py
  tests/resumable_media/system/requests/test_upload.py
  tests/resumable_media/unit/requests/test_download.py
  tests/resumable_media/unit/requests/test_upload.py
  tests/resumable_media/unit/test__helpers.py
  tests/resumable_media/unit/test__upload.py
  tests/unit/test_blob.py
  tests/unit/test_client.py
Labels: api: storage, size: l

#1386 tests: skip universe domain test in preprod
  tests/system/test__signing.py
Labels: api: storage, size: xs
