Repository googleapis/python-storage, pull requests merged in 2025-05, with the labels that each got.

#1471 samples: Add samples for async download files #1470
  samples/snippets/snippets_test.py
  samples/snippets/storage_async_download.py
Labels: api: storage, samples, size: m

#1481 chore: update retry docs
  docs/retry_timeout.rst
Labels: api: storage, size: xs

#1484 chore: update blunderbuss.yml
  .github/blunderbuss.yml
Labels: api: storage, size: xs

#1487 fix: add a check for partial response data
  google/cloud/storage/_media/requests/download.py
  tests/resumable_media/system/requests/test_download.py
  tests/resumable_media/unit/requests/test_download.py
Labels: api: storage, size: m
