Repository googleapis/python-storage, pull requests merged in 2025-09, with the labels that each got.

#1536 chore: fix the gapic unit tests
  owlbot.py
Labels: api: storage, size: s

#1542 fix: GAPIC generation failed with 'Directory not empty'
  owlbot.py
Labels: api: storage, size: xs

#1533 feat(experimental): Add grpc client
  google/cloud/storage/_experimental/grpc_client.py
  tests/unit/test_grpc_client.py
Labels: api: storage, size: l

#1545 feat: Add async bidiRpc files in python-storage
  google/cloud/storage/_experimental/asyncio/bidi_async.py
  google/cloud/storage/_experimental/asyncio/bidi_base.py
  tests/unit/asyncio/test_bidi_async.py
Labels: api: storage, size: l

#1547 feat(experimental): Add _AsyncReadObjectStream and it's stubs
  google/cloud/storage/_experimental/asyncio/async_read_object_stream.py
  tests/unit/asyncio/test_async_read_object_stream.py
Labels: api: storage, size: m

#1550 feat(zb-experimental): Add AsyncMultiRangeDownloader
  google/cloud/storage/_experimental/asyncio/async_multi_range_downloader.py
  tests/unit/asyncio/test_async_multi_range_downloader.py
Labels: api: storage, size: m

#1551 feat(zb-experimental): implement download_ranges
  google/cloud/storage/_experimental/asyncio/async_multi_range_downloader.py
  tests/unit/asyncio/test_async_multi_range_downloader.py
Labels: api: storage, size: l

#1555 feat(zb-experimental): implement `close` in AsyncMultiRangeDownloader
  google/cloud/storage/_experimental/asyncio/async_multi_range_downloader.py
  tests/unit/asyncio/test_async_multi_range_downloader.py
Labels: api: storage, size: m
