Repository googleapis/python-storage, pull requests merged in 2025-10, with the labels that each got.

#1557 chore: remove unwanted comments in AsyncMRD
  google/cloud/storage/_experimental/asyncio/async_multi_range_downloader.py
Labels: api: storage, size: s

#1559 feat(experimental): Read handle refresh
  google/cloud/storage/_experimental/asyncio/async_read_object_stream.py
  tests/unit/asyncio/test_async_read_object_stream.py
Labels: api: storage, size: m

#1561 fix: send entire object checksums via upload methods
  google/cloud/storage/blob.py
  google/cloud/storage/bucket.py
  tests/system/test_blob.py
  tests/unit/test_blob.py
Labels: api: storage, size: l
